### Specify beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 13600. 		# GeV

### processes: c-cbar and b-bbar processes
HardQCD:hardccbar on
HardQCD:hardbbbar on
HardQCD:gg2ccbar on
HardQCD:qqbar2ccbar on
HardQCD:gg2bbbar on
HardQCD:qqbar2bbbar on

### decays
ParticleDecays:limitTau0 on	
ParticleDecays:tau0Max 10.

### switching on Pythia Mode2
ColourReconnection:mode 1
ColourReconnection:allowDoubleJunRem off
ColourReconnection:m0 0.3
ColourReconnection:allowJunctions on
ColourReconnection:junctionCorrection 1.20
ColourReconnection:timeDilationMode 2
ColourReconnection:timeDilationPar 0.18
StringPT:sigma 0.335
StringZ:aLund 0.36
StringZ:bLund 0.56
StringFlav:probQQtoQ 0.078
StringFlav:ProbStoUD 0.2
StringFlav:probQQ1toQQ0join 0.0275,0.0275,0.0275,0.0275
MultiPartonInteractions:pT0Ref 2.15

# Correct Lb decay length (wrong in PYTHIA8 decay table)
5122:tau0 = 0.4390

### processes
SoftQCD:all = off
SoftQCD:inelastic = on # all inelastic processes
SoftQCD:elastic = off
SoftQCD:singleDiffractive = off
SoftQCD:doubleDiffractive = off
SoftQCD:centralDiffractive = off

# default: do nothing, Monash 2013 will do its thing
Tune:pp = 14

Random:setSeed = on

4122:oneChannel = 1 1 100 2212 -321 211
5122:oneChannel = 1 1 100 4122 -211
